E5E5E5<---/* TODO: align bottoms, center and equalize spaces between cards,
 make tab buttons functionable, including looking different when clicked on */

.card{
  height: 100%;
  width: 300px;




}
.card-header{
  height: 100%;
}

.weekday{
  width: 360px;
  background-color: #D3CBE1;
}



body{
background-color: #E3DFEB;

}


.scw{

  width: 360px;
  border: 10px solid #158467;
  background-color: #D3CBE1;
  padding-bottom: 250px;
  text-align: center;
  padding-top: 220px;

}
h1{


height: 119px;
left: 37px;


font-family: Lancelot;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 106px;

color: #158467;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2{
width: 300px;
height: 119px;
left: 37px;
top: 209px;
text-align: center;
font-family: 'Gar-A-MondTall', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 117px;

color: #158467}

h3{
  text-align: center;
font-family: 'Fowviel', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 33px;
line-height: 63px;

color: #80A580;
}
#flex{
  display: flex;
  width: auto;
  margin: 150px;
}
.flexitem{
  flex-grow: 1;
  margin-left: 10px;
}
.flexitem2{
  flex-grow: 2;
}
div{
  padding: 1px 1px;

  background-color: #D3CBE1
}
/* Style the tab */
.tab {

  overflow: hidden;
  background-color: #D3CBE1;

}

/* Style the buttons inside the tab */
.tab button {
  font-family: 'Montaga', sans-serif;
  background-color: #82AA92;
  float: left;
  border: 5px solid #E8D287;
  border-radius: 5px;
  margin: 6px;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.5s;
  font-size: 17px;
  color: #E8D287;

}

/* Change background color of buttons on hover */
.tab button:hover {
  font-family: 'Montaga', sans-serif;
  background-color: #158467;
  float: left;
  border: 1px solid #E8D287;
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  font-size: 17px;
  color: #E8D287;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #10654F;
}

/* Style the tab content */
.tabcontent {
  
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;

}
li{font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 17px;
align: center;
color: #065446;


}
